html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  position: absolute;
        		top: 0px;
        		bottom: 0px;
        		left: 0px;
        		right: 0px;
        		margin: auto;
}
